<html>
<table class="tg">
<tbody>
<tr>
<th class="tg-exl0"><br /><br /><strong>Fisheye image</strong><br /><br /><br /></th>
<th class="tg-exl0"><br /><br /><strong>Perspective bird's eye view</strong><br /><br /><br /></th>
<th class="tg-exl0"><strong>Vehicle localization result </strong><br /><strong>in orthographic bird's eye view</strong></th>
</tr>
<tr>
<td class="tg-exl0"><br /><br /><strong>Segmentation result</strong><br /><br /><br /></td>
<td class="tg-exl0"><br /><strong>Segmentation result </strong><br /><strong>in p<span style="font-style: normal;">erspective bird's eye view</span></strong><br /><br /></td>
</tr>
</tbody>
</table>
</html>
